.ptf-form {
  width: 100%;
  label,
  button {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  input,
  textarea {
    height: 4rem;
    width: 100%;
    color: #ccc;
    font-size: 1.6rem;
    background-color: darken($color: #2d2e33, $amount: 10%);
    border: none;
    box-shadow: rgb(82 82 82) -1px -1px 1px 0px inset;

    @include transition-ease-fast;
    &:hover {
      background-color: darken($color: #2d2e33, $amount: 15%);
    }
    &:focus,
    &:focus-visible {
      background-color: darken($color: #2d2e33, $amount: 20%);
      color: #ccc;
      border: none;
      box-shadow: none;
    }
  }

  textarea {
    height: unset;
  }

  button.btn-dark {
    color: $accent;
    padding: 1rem 3rem;
    background-color: darken($color: #2d2e33, $amount: 10%);
    border: 1px solid rgba(204, 204, 204, 0.2509803922);

    &:hover {
      background-color: darken($color: #2d2e33, $amount: 15%);
      @include teal-box-shadow;
    }
  }
}

.error-text {
  display: block;
  visibility: hidden;
  margin-top: -1rem;
  font-size: 1.2rem;
  opacity: 0;
  color: $warn;
  @include transition-ease-fast;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
