.ptf-contact {
  // @include container;
  &.ptf-container {
    border-bottom: none;
  }

  .d-flex {
    flex-direction: column;
    justify-content: center;
  }

  @include media-md {
    .d-flex {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .block-1 {
    text-align: left;

    h3,
    p,
    a {
      color: #969da5;
      @include transition-ease-fast;
    }

    a:hover {
      color: $accent;
    }

    h2 {
      font-size: 3rem;
    }

    .socials {
      margin-bottom: 2rem;
    }
  }

  .block-1,
  .block-2 {
    width: 100%;
    // margin-inline: 2rem;
    .ptf-card {
      box-shadow: #2d2e33 0px 3px 8px;
      opacity: 1;
      padding: 1rem 2rem;
      align-items: flex-start;
      &:hover {
        box-shadow: #2d2e33 0px 3px 8px;
      }
    }
  }

  @include media-md {
    .block-1,
    .block-2 {
      width: 49%;
    }
  }

  .handshake {
    width: 100%;
    height: 30rem;
    margin: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    filter: grayscale(1);
    @include transition-ease-fast;

    &:hover {
      filter: grayscale(0);
    }
  }
}
