.ptf-hero {
  flex-direction: column-reverse;
  margin-top: 15rem !important;
  padding-bottom: 10rem;

  .block-1 {
    .row-1 {
      margin-bottom: 4rem;
    }
  }

  .block-2 {
    margin-inline: auto;
    margin-bottom: 2rem;
    width: 80%;
    .image-bg {
      position: relative;
      @include teal-box-shadow;
      max-width: 34rem;
      aspect-ratio: 34/30;
      padding: 1rem;
    }
    &__profile {
      position: absolute;
      bottom: 0;
      height: auto;
      width: 95%;
      transform: rotateY(180deg);
    }
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    span {
      color: transparent;
      background: linear-gradient(
        86deg,
        rgba(100, 255, 218, 1) 0%,
        rgba(255, 230, 0, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}

@include media-md {
  .ptf-hero {
    flex-direction: row;

    .block-2 {
      width: 50%;
      margin-bottom: 0;
      margin-inline: 0;

      .image-bg {
        margin-left: auto;
      }
    }
  }
}
