.ptf-skills {
  flex-direction: column;

  .skills {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: #50535b 0px 0px 10px 0px;
    .items {
      background-color: $primary-dark;
      border-radius: 0.5rem;
      width: max-content;
      min-width: 16rem;
      .item {
        padding: 2rem;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-dark, 1%);
        }

        &.selected {
          color: $secondary;
          background-color: darken($primary-dark, 2%);
        }
      }

      hr {
        margin: 0 1rem;
      }

      &-details {
        display: none;
        flex-wrap: wrap;
        @include media-sm-only {
          flex-direction: column;
        }
        justify-content: flex-start;
        gap: 1rem;
        background-color: darken($primary-dark, 2%);
        padding: 1rem;
        width: 100%;

        &.show {
          display: flex;
        }
      }
    }
  }

  @include media-sm-only {
    .ptf-card {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      padding-inline: 0;

      .logo {
        width: 3rem;
        filter: grayscale(0);
      }

      .label {
        border: none;
      }
    }
  }
}
