@mixin teal-box-shadow {
  box-shadow: 0 0 1rem 0.1rem $secondary-dimmed;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin transition-ease-fast {
  transition: all 0.2s ease-in-out;
}
