/*Colors*/
$primary: #212126;
$primary-dark: darken($primary, 2%);
$secondary: #64ffda;
$secondary-dimmed: #a7ffed8a;
$accent: #ffe600;
$text: #ccc;
$ptf-gray: #cccccc40;
$warn: #ff4b00;

/*Fonts*/
$poppins: Poppins, sans-serif;

