/* External imports */
// @import '../node_modules/bootstrap/scss/bootstrap';
/* Config items */
@import './mixins';
@import './variables';
@import './config';
/* Sections */
@import './sections/header';
@import './sections/hero';
@import './sections/skills';
@import './sections/education';
@import './sections/experience';
@import './sections/contact';
@import './sections/footer';
/* Components */
@import './components/card';
@import './components/timeline';
@import './components/socials';
@import './components/form';

/* Common Styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $primary;
  color: $text;
  font-family: $poppins;
}

pre {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #292929 inset !important;
  -webkit-text-fill-color: #ccc !important;
}

.section-header {
  color: $secondary;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-subheader {
  color: #ffe600;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: -1rem;
}

section.ptf-container {
  border-bottom: 0.1rem solid $ptf-gray;
  display: flex;
  margin-inline: 2rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  max-width: 108rem;
}

@include media-lg {
  section.ptf-container {
    margin-inline: auto;
  }
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: #ccc;

  &:hover {
    color: $accent;
  }
}

/* Bootstrap Overrides */
:root {
  --bs-body-font-size: 1.6rem;
  --bs-navbar-color: #151519;
}

/* Scrollbar styling */
:root::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #151519;
  border-radius: 10px;
}

:root::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from($secondary),
    to(lighten($secondary, 10%)),
    color-stop(0.6, $secondary)
  );
}

/* For Firefox */
html {
  scrollbar-color: $secondary #151519;
  scrollbar-width: auto;
}

/* Waves background */
#wavesBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
